
<div class="table-items">
  <table>
    <tr>
      <th><%= sortable "title", "Title" %></th>
      <th><%= sortable "category", "Category" %></th>
      <th><%= sortable "votes", "Votes" %></th>
    </tr>
    <% for game in @games %>
      <tr>
        <td><img src=<%= game.thumbnail_url %>> <%= game.title %></td>
        <td><%= game.category.name %></td>
        <td><%= game.votes.length %></td>
      </tr>
      <% end %>
  </table>
</div>
