<div id="nav">
  <% if current_user %>
    <ul>
      <li><%= link_to "Browse", games_path %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Logout", '/logout' %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Home", games_path %></li>
      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Signup', '/signup' %></li>
    </ul>
  <% end %>
</div>
