<div class='portfolio-new'>

  <!-- left -->
  <div class='left'>
    <div class='game-list'>
        <%= render partial: 'game', collection: @games %>
    </div>
  </div>

  <!-- right -->
  <div class='right'>
    <h1>Find a Game</h1>

    <div id="search">
      <%= form_for "games#search", method: "POST" do |f| %>
        <select name="category_id">
          <%= @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
          <%= f.submit value: "search"%>
        </select>
      <% end %>
    </div>
  </div>

</div>
