<div class="game-show">

  <div class="game-show-top">
    <%= render partial: "partials/game-box" %>
    <h2>Comments:</h2>
    <div class="game-show-btm">

      <%= form_for([@game, Comment.new]) do |f| %>
        <div class="field">
          <%= f.text_area :body, size: "80x5" %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

      <%= render partial: "shared/errors" %>

      <% if @game.comments.length > 0 %>
      <%= render partial: "games/comment", collection: @game.comments %>
      <% end %>
    </div>
  </div>

  <div class="game-show-side">
    <%= image_tag "/images/woman-excite.png", class: "woman-excite"%>
    <%= image_tag "/images/speech-left.png", class: "speech-left animated bounceInDown" %>
  </div>

</div>
