<section>
    <article>
      <div class="container">
        <div class="header">
          <h1>Welcome to Kinect4</h1>
          <div id="search">
            <%= form_for "games#search", method: "POST" do |f| %>
              <select name="category_id">
                <%= @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
                <%= f.submit value: "search"%>
              </select>
            <% end %>
          </div>
        </div>
        <br>

        <div class='game-list'>
            <%= render partial: 'game', collection: @games %>
        </div>
      </div>
    </article>
</section>
