<!DOCTYPE html>
<html>
<head>
	<title>KinEct4</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik Mono One">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

	<body>
			<%= yield %>
			<%= render 'layouts/layout' %>
	</body>
</html>
